// Contains keyframe animations

// Animations for overlay
// Fade in when opening
@keyframes fade-in {
  from {
    // Initial styles
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  // You can add percentages in between to indicate any middle point in the animation

  to {
    // End styles
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

// Fade out when closing
@keyframes fade-out {
  from {
    // Initial styles
    visibility: visible;
    opacity: 1;
  }

  // You can add percentages in between to indicate any middle point in the animation
  99% {
    visibility: hidden;
    opacity: 0;
  }
  
  to {
    // End styles
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}
