.blocked-content {
  // Section
  padding-left: 2rem;
  padding-right: 2rem;
  height: 12rem;

  &-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .blocked-content-text {
      text-align: center;
      background-color: rgb(255, 208, 208);
      padding: 1rem;
      border-radius: 15px;
    }
  }

//   &-btn {
//     margin-top: 2rem;
//     span {
//       height: fit-content;
//       background-color: $accent;
//       font-size: 1rem;
//       padding: 1rem;
//       border-radius: 10px;
//       color: white;

//       a {
//         margin: 0;
//         padding: 0;
//         margin-right: 0.2rem;
//       }

//       i {
//         color: white;
//         font-size: 1rem;
//       }
//     }
//   }
}
