// These are some global properties
html {
    // For accessibility, the font-sizes will scale based on the base-font determined by the user's browser
    font-size: 100%;
    // This allows to include borders and paddings in the "size" of an element. Easier to work with desing-based dimensions
    box-sizing: border-box;
}

* , *::before, *::after {
    box-sizing: inherit;
}

body {
    // Resetting
    margin: 0;
    padding: 0;
    // Some spacing between lines
    line-height: 1.3;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a, a:visited, a:hover {
    text-decoration: none;
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Visibility
.hide-for-mobile {
    // Hide for mobile devices
    @include breakpoint-down(small) {
        display: none;
    }
}

.hide-for-desktop {
    // Hide for larger screens 
    @include breakpoint-up(medium) {
        display: none;
    }
}

em {
    text-decoration: none;
    font-style: normal;
}

main {
    max-width: 120rem;
    margin: 0 auto;
}

section {
    max-width: 120rem;
    margin: 0 auto;
}

h2, h3 {
    margin: 0;
    padding: 0;
    font-size: $f_regular;
    font-weight: normal;
}
