.header {
  font-family: "Roboto", sans-serif;

  .overlay {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
  }

  &.open {
    .header__bmenu {
      // Transform the spans
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }

    .overlay {
      visibility: visible;
    }
  }

  nav {
    padding: 0.8rem 2rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.178) 0px 4px 12px;
    width: 100%;
    position: fixed;
    z-index: 5;
  }

  &__logo {
    // padding: 0 1.5em;
    text-decoration: none;
    color: $accent;
    font-size: $f_big;
    font-weight: 900;
  }

  &__bmenu {
    //   Direct child selector
    padding: 0.7em 0;
    cursor: pointer;

    > span {
      display: block;
      width: 35px;
      height: 5px;
      border-radius: 26px 26px 26px 26px;
      background-color: $accent;
      transition: all 300ms ease-in-out;
      transform-origin: 2px 3px;

      // The menu lines will appear very close to each other, so we need to add some space
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  &__links {
    a {
      color: $text;
      transition: color 200ms ease-in-out;
      padding: 1.25em 0;
      border-bottom: 4px solid transparent;
      transition: 200ms;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &:hover {
        color: $accent;
        border-bottom: 4px solid $accent;
      }
    }
  }

  &__popup {
    visibility: hidden;
    background-color: white;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.178) 0px 4px 12px;
    position: fixed;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6rem;
    padding: .9rem;
    z-index: 4;

    a {
      display: block;
      color: $text;
      text-align: center;
      padding: 1rem;
    }
  }
}
