.illustration-and-ui-main {
  // Put some space on the sides
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0;

  @include breakpoint-up(medium) {
    // Add more space on the sides when the screen is medium-large
    margin-left: 7rem;
    margin-right: 7rem;
  }

  // Format Headings
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $accent;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: bold;
    color: $darkBlue;
    margin-top: 1.5rem;
  }

  // Main illustration container style   
  .illustrations-container {
    //   Add some space from the navbar
    padding-top: 7rem;

    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        img {
            object-fit: contain;
            max-width: 30%;
            @include breakpoint-down(medium) {
                max-width: 100%;
                margin: .2rem;
            }

            height: auto;   
        }

        .img-big {
            max-width: 60%;
            @include breakpoint-down(medium) {
                max-width: 100%;
                
            }
            
            height: auto;   
        }
    }
  }

  .figma {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   
    iframe {
      // Desktop
      width: 1000px;
      height: 800px;

      // Mobile
      @include breakpoint-down(middle) {
        height: 200px;
      }
    }
  }
}
