.intro {
  padding-top: 4.1875rem;

  @include breakpoint-up(medium) {
    display: flex;

    .intro__image {
      flex: 3;
      order: 2;
      background-size: contain;
      height: 20rem;
    }

    .intro__statement {
      padding: 2.5rem;
      flex: 2;
      order: 1;
      align-self: center;
      text-align: start;

      > h1, p, span:not(:last-child), a:not(:last-child) {
        margin-left: 4rem;
      }
    }
  }

  &__image {
    background-image: url("../images/Portfolio-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 12rem;
  }

  &__statement {
    padding: 0 1.5em;
    color: $text;
    text-align: center;

    .typed-text {
      font-family: "Roboto Mono", monospace;
      font-weight: 400;
      color: $accent;
    }
  }

  &__buttons {
    margin-top: 2.5rem;
    .button {
      background-color: $accent;
      font-size: 1rem;
      border-radius: 50%;

      &:not(:last-child) {
        margin-right: 1em;
      }

      i {
        color: white;
        font-size: 1rem;
      }
    }
  }

  &__email {
    padding: 0.682em 0.8em;
  }

  &__linkedin {
    padding: 0.682em 0.863em;
  }

  @include breakpoint-up(xlarge) {
    .intro__image {
      height: 40rem;
    }
  }
}
