// Breakpoints
@media (min-width: 64em) {
  // Desktop min 1024px
  // Styles go here
}

// Create a SASS map
// Mobile is the default
// 640px for medium, 1025px for large, 1400px for xlarge - and up
$breakpoints-up: (
  "medium": 40em,
  "large": 64.0625rem,
  "xlarge": 87.5em,
);

// Shift by 1px
$breakpoints-down: (
  "small": 39.9375em,
  "medium": 63.9375em,
  "large": 87.4375em,
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
