.projects-container {
  display: grid;
  gap: 0.1rem;
  margin-top: 2.5rem;

  // Mobile - default
  > .project {
    grid-template-columns: 1fr;
    height: 18.75rem;
    background-color: $blue;
    position: relative;

    > div {
      height: 1.25rem;
      width: 100%;
      bottom: 0;
      position: absolute;
      background-color: rgba(240, 131, 54, 0.95);
      padding: 2rem;
      // Flex, display text in a column layout
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      // Text colour
      color: white;

      > h3,
      p {
        display: none;
      }
    }

    // Fit the images to the grid elements
    > img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  }

  > .transparent {
    background-color: white;
  }

  // Tablet
  @include breakpoint-up(medium) {
    grid-template-columns: 1fr 1fr;

    > .project {
      height: 22rem;
    }
  }

  // Desktop
  @include breakpoint-up(large) {
    grid-template-columns: 1fr 1fr 1fr;

    > .project {
      height: 23rem;
      position: relative;

      // The divs containing the info for the project thumbnails are hidden by default
      > div {
        // Covering the grid item completely
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(240, 131, 54, 0.95);
        padding: 2rem;
        // Flex, display text in a column layout
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // Text colour
        color: white;
        visibility: hidden;

        > h2,
        h3,
        p {
          display: inline;
          text-align: center;
          padding: 0.3rem;
        }

        > h2 {
          font-size: $f_big;
        }

        > p {
          margin-top: 2rem;
          font-style: italic;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    > .transparent {
      background-color: white;
    }
  }
}
