.project-main {
  margin: 0;
  padding: 0;
  color: $text;

  #video {
    width: 100%;

    iframe {
      @include breakpoint-down(medium) {
        width: 100%;
        height: 200px;
      }

      @include breakpoint-up(medium) {
        width: 700px;
        height: 400px;
      }
    }

    .video-centre {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
    }
  }

  @include breakpoint-up(medium) {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .disclaimer {
    color: red;
  }
  

  section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $accent;
    margin-top: 2rem;
  }

  h3 {
    font-weight: bold;
    color: $darkBlue;
    margin-top: 1.5rem;
   
  }

  a {
    text-decoration: underline;
    color: $darkBlue;
  }

  table {
    border-collapse: collapse;
    margin-top: 1rem;
    // margin: 1rem 2rem 0 2rem;

    td {
      vertical-align: super;
      padding: 1rem;
    }

    th {
      background-color: $blue;
      color: white;
    }
  }

  table,
  th,
  td {
    border: 2px $blue solid;
  }

  ol {
    margin: 0;
    padding: 0;

    counter-reset: section;
    list-style-type: none;
    li {
      &::before {
        counter-increment: section;
        content: counter(section);

        //   Coloured circles
        display: inline-block;
        height: 2rem;
        width: 2rem;
        line-height: 2rem;
        border-radius: 50%;

        background-color: $lightBlue;
        color: white;

        // Text in circle
        text-align: center;
        font-weight: bold;
        
        margin-right: 1rem;
        margin-top: 1rem;
      }
    }
  }

    // General
  .grid-3-col {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    div {
      text-align: center;
      font-weight: bold;

      i {
        font-size: 4rem;
        color: $blue;
      }
    }
  }

  .grid-2-col {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    div {
      text-align: center;
      font-weight: bold;

      i {
        font-size: 4rem;
        color: $blue;
      }
    }
  }

  .grid-1-col-mobile {
    @include breakpoint-down(small) {
      grid-template-columns: 1fr;
      img {
        max-width: 300px;
      }
    }
  }
}

// VUI
.design-process-content {
  img {
    @include breakpoint-up(medium) {
      max-width: 30rem;
    }

    max-width: 19rem;
  }
}

#VUI-architecture {
  img {
    margin-top: 1.5rem;

    @include breakpoint-up(medium) {
      max-width: 800px;
    }

    width: 90%;
  }
}

#VUI-Usability-Test {
  img {
    margin-top: 1.5rem;

    @include breakpoint-up(medium) {
      max-width: 800px;
    }

    max-width: 90%;
  }
}

// ALEXA
#ALEXA-implementation {
  img {
    width: 300px;
  }
}

#ALEXA-storyboards {
  div {
    @include breakpoint-down(medium) {
      grid-template-columns: 1fr;
    }
  }
  
  img {
    max-width: 500px;
  }
}


