.project-main-2 {
  margin: 0;
  padding: 0;
  color: $text;

  @include breakpoint-up(medium) {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $accent;
    margin-top: 2rem;
  }

  h3 {
    font-weight: bold;
    color: $darkBlue;
    margin-top: 1.5rem;
  }

  a {
    text-decoration: underline;
    color: $darkBlue;
  }

  .summary-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include breakpoint-down(medium) {
      flex-direction: column;
    }
  }

  // Make bubble text
  .summary-bubble {
    border-radius: 100%;
    background-color: $blue;
    margin: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    // Make size consistent
    min-height: 18rem;
    max-height: 18rem;
    min-width: 18rem;
    max-width: 18rem;

    .summary-bubble-text-wrap {
      color: white;
      padding: 1rem;
    }
  }

  .grid-2-1-2 {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;

    .col-2 {
      text-align: center;
      font-size: 12rem;
      color: $limeGreen;
    }

    @include breakpoint-down(medium) {
      grid-template-columns: 1fr;

      .col-2 {
        transform: rotate(90deg);
        line-height: 0.3;
      }
    }
  }

  ul {
    list-style: none;

    // Now let's make those bullet points pretty!
    li {
      &::before {
        content: "";
        background-color: $accent;
        display: inline-block;
        height: 1rem;
        width: 1rem;
        border-radius: 100%;

        margin-right: 1rem;
        margin-top: 1rem;
      }
    }
  }

  // Indented lists have a different style
  .ul-indented {
    list-style: none;

    li {
      &::before {
        content: "";
        background-color: white;
        border: $limeGreen solid 0.2rem;
        display: inline-block;
        height: 1rem;
        width: 1rem;
        border-radius: 100%;

        margin-right: 1rem;
        margin-top: 1rem;
      }
    }
  }

  .number {
    color: $accent;
    font-size: $f_big;
  }

  .col-2-desktop {
    display: flex;
    align-items: center;

    .col-1 {
      flex: 1;
    }

    .col-2 {
      flex: 1;
    }
  }

  .col-1-mobile {
    @include breakpoint-down(medium) {
      display: flex;
      flex-direction: column;
    }
  }

  .hyp-1 {
    // Centre image in the middle of the flex box
    .image-centered {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 70%;
      }
    }

    @include breakpoint-down(medium) {
      img {
        max-width: 100%;
      }
    }
  }

  // HYPOTHESES

  .hyp-2 {
    // Centre image in the middle of the flex box
    .image-centered {
      display: flex;
      flex-direction: column;
      align-items: center;

      // Reduce the size of the images for the desktop version
      img {
        max-width: 50%;
      }
    }

    @include breakpoint-down(medium) {
      img {
        max-width: 100%;
      }
    }
  }

  .hyp-3 {
    // Centre image in the middle of the flex box

    .image-centered {
      display: flex;
      flex-direction: column;
      align-items: center;

      // Reduce the size of the images for the desktop version
      img {
        max-width: 70%;
      }
    }

    @include breakpoint-down(medium) {
      .image-centered {
        display: flex;
        justify-content: center;
        flex-direction: column;

        img {
          max-width: 100%;
        }
      }
    }
  }

  // PROTOTYPE

  .prototype-1 {
    display: flex;
    flex-direction: column;
    align-content: center;

    .col-1 {
      display: flex;
      justify-content: center;
    }

    // General size 
    img {
      max-width: 40%;
    }

    // Change image size based on section
    .overview {
      img {
        max-width: 70%;
      } 
    }
    
    .metaphor {
      img {
        max-width: 80%;
      }
    }

    @include breakpoint-down(medium) {
      .col-1-mobile {
        display: flex;
        flex-direction: column;

        .image-centered {
          display: flex;
          justify-content: center;

          img {
            max-width: 100%;
          }
        }
      }
    }

    .image-centered {
      display: flex;
      justify-content: center;
    }
  }

  .figma {
    margin-top: 2rem;

    h2 {
      margin-bottom: 1rem;
    }

    div {
      display: flex;
      justify-content: center;

      iframe {
        // Desktop
        width: 1000px;
        height: 800px;
  
        // Mobile
        @include breakpoint-down(middle) {
          height: 200px;
        }
      }
    } 

    
  }

  // Go to prototype btn
  .btn-centre {
    display: flex;
    justify-content: center;
  }

  .btn-figma {
    text-decoration: none;
    display: block;
    width: fit-content;
    padding: 1rem;
    background-color: $accent;
    color: white;
    border-radius: 15px;
    text-align: center;
  }
}
