// Details for each project - duration, role, keywords
// Mobile first
// The details are one under the other
.project-details-container {
  border: 1px solid $lightGray;

  & > div {
    padding: .5rem 2rem .5rem 2rem;
    font-size: 80%;
    text-align: center;
  }
}

// Tablet and desktop
// The details are on one line
@include breakpoint-up(medium) {
  .project-details-container {
    padding: 1rem 2.5rem 1rem 2.5rem;
    display: flex;
    justify-content: space-between;

    & > div {
      text-align: start;

      > h4,
      p {
        padding: 0;
        margin: 0;
      }
    }
  }
}
