// Hero containing the cover image for the project, title and subtitle
.hero-container {
    width: 100%;
    height: 25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    &__text {
        position: absolute;
        font-size: $f_big;
        font-weight: normal;
        text-align: center;
        padding: 1.25rem;

        h2 {
            font-size: $f_small;
        }
    }
    
    // Dark overlay on the hero
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center center;
    }
}