// Colors
$accent : #f08336;
$text : rgb(56, 56, 56);
$darkBlue : #1e3849;
$blue : #245677;
$lightBlue : #9ec1cb;
$lightGray: #808080;
$limeGreen: #7be69f;

// Font sizes
$f_big : 2em;
$f_regular : 1em;
$f_small: .5em;